<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
<head id="j_id_3">
    <link rel="stylesheet" type="text/css" href="/javax.faces.resource/components.css.jsf?ln=primefaces&amp;v=7.0"/>
    <link rel="stylesheet" type="text/css" href="/javax.faces.resource/layout/layout.css.jsf?ln=primefaces&amp;v=7.0"/>
    <script type="text/javascript" src="/javax.faces.resource/jquery/jquery.js.jsf?ln=primefaces&amp;v=7.0"/>
    <script type="text/javascript" src="/javax.faces.resource/jquery/jquery-plugins.js.jsf?ln=primefaces&amp;v=7.0"/>
    <script type="text/javascript" src="/javax.faces.resource/core.js.jsf?ln=primefaces&amp;v=7.0"/>
    <script type="text/javascript" src="/javax.faces.resource/components.js.jsf?ln=primefaces&amp;v=7.0"/>
    <script type="text/javascript" src="/javax.faces.resource/layout/layout.js.jsf?ln=primefaces&amp;v=7.0"/>
    <script type="text/javascript" src="/javax.faces.resource/datepicker/datepicker.js.jsf?ln=primefaces&amp;v=7.0"/>

    <link rel="stylesheet" type="text/css" href="/javax.faces.resource/fileupload/fileupload.css.xhtml?ln=primefaces&amp;v=7.0"/>
    <script type="text/javascript" src="/javax.faces.resource/fileupload/fileupload.js.xhtml?ln=primefaces&amp;v=7.0"></script>

    <link rel="stylesheet" type="text/css" href="/javax.faces.resource/theme.css.jsf?ln=primefaces-nova-light"/>
    <script type="text/javascript">if(window.PrimeFaces){PrimeFaces.settings.locale='en_GB';}</script>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="keywords" content=""/>
    <meta name="displayName" content=""/>

    <title>DMS Client Sample</title>
</head>
<h:body>
    <p:panel>
        <h:form id="wsdlForm">
            <p:messages for="wsdlFormMessages" id="wsdlFormMessages" showDetail="true" closable="true">
                <p:autoUpdate/>
            </p:messages>

            <br/>
            <p:commandButton process=":wsdlForm" action="#{wsdlTest.getRepositories()}"
                             value="Get repositories"
                             ajax="true" update="wsdlFormMessages,result,console"/>

            <p:panelGrid columns="3">
                <p:outputLabel for="repositoryId" value="Repository ID"/>
                <p:inputText id="repositoryId" value="#{wsdlTest.repositoryId}"/>
                <p:commandButton process=":wsdlForm" action="#{wsdlTest.getFolderTree()}"
                                 value="Get Folder Tree"
                                 ajax="true" update="wsdlFormMessages,result,console"/>

                <p:outputLabel for="folderId" value="Folder ID"/>
                <p:inputText id="folderId" value="#{wsdlTest.folderId}"/>
                <p:commandButton action="#{wsdlTest.createFolder(wsdlTest.folderId)}"
                                 value="Create folder" process="@form"
                                 ajax="true" update="wsdlFormMessages,result,console"/>
            </p:panelGrid>
        </h:form>
    </p:panel>

    <p:panel header="Create document" toggleable="true">
        <h:form enctype="multipart/form-data" id="form">
            <p:panel header="properties">
                <p:growl id="msgs" showDetail="true">
                        <p:autoUpdate/>
                </p:growl>
                <p:dataTable id="cmisProperty" widgetVar="cmisProperty" var="cmisProperty" value="#{wsdlTest.cmisPropertyList}" editable="true"
                             style="margin-bottom:20px">
                    <f:facet name="header">
                        Insert CMIS Properties below
                    </f:facet>

                    <p:ajax event="rowEdit" update=":form:msgs"/>
                    <p:ajax event="rowEditCancel" update=":form:msgs"/>

                    <p:column headerText="displayName">
                        <p:cellEditor>
                            <f:facet name="output"><h:outputText value="#{cmisProperty.displayName}"/></f:facet>
                            <f:facet name="input"><p:inputText id="modelInput" value="#{cmisProperty.displayName}"
                                                               style="width:100%"/></f:facet>
                        </p:cellEditor>
                    </p:column>

                    <p:column headerText="localName">
                        <p:cellEditor>
                            <f:facet name="output"><h:outputText value="#{cmisProperty.localName}"/></f:facet>
                            <f:facet name="input"><p:inputText value="#{cmisProperty.localName}" style="width:100%"/></f:facet>
                        </p:cellEditor>
                    </p:column>

                    <p:column headerText="propertyDefinitionId">
                        <p:cellEditor>
                            <f:facet name="output"><h:outputText value="#{cmisProperty.propertyDefinitionId}"/></f:facet>
                            <f:facet name="input"><p:inputText value="#{cmisProperty.propertyDefinitionId}"
                                                               style="width:100%"/></f:facet>
                        </p:cellEditor>
                    </p:column>

                    <p:column headerText="queryName">
                        <p:cellEditor>
                            <f:facet name="output"><h:outputText value="#{cmisProperty.queryName}"/></f:facet>
                            <f:facet name="input">
                                <f:facet name="input"><p:inputText value="#{cmisProperty.queryName}"
                                                                   style="width:100%"/></f:facet>
                            </f:facet>
                        </p:cellEditor>
                    </p:column>

                    <p:column style="width:32px">
                        <p:rowEditor/>
                    </p:column>
                </p:dataTable>
                <div class="ui-g">
                    <div class="ui-g-12">
                        <p:commandButton value="Add new" styleClass="ui-priority-primary" process="@this"
                                         update=":form:msgs"
                                         action="#{wsdlTest.onAddNewCmisProperty()}" oncomplete="PF('cmisProperty').addRow();"/>
                    </div>
                </div>
            </p:panel>

            <br/>
            <p:outputLabel for="createDocumentFolderId" value="Folder ID: "/>
            <p:inputText id="createDocumentFolderId" value="#{wsdlTest.createDocumentFolderId}"/>
            <br/>

            <br/>
            <p:outputPanel style="width: 50%">
                <p:outputLabel for="versioningState" value="Versioning State"/>
                <p:selectOneMenu id="versioningState" autoWidth="true" value="#{wsdlTest.versioningState}">
                    <f:selectItems value="#{wsdlTest.versioningStates}" var="state" itemLabel="#{state.name()}" itemValue="#{state}" />
                </p:selectOneMenu>
            </p:outputPanel>
            <br/>


            <p:panel header="Policies">
                <p:inputTextarea value="#{wsdlTest.policies}" cols="150"/>
            </p:panel>


            <p:panel header="properties">
                <p:growl id="permissionMsgs" showDetail="true"/>
                <p:dataTable id="permission" widgetVar="permission" var="permission" value="#{wsdlTest.cmisAccessControlEntryTypes}" editable="true"
                             style="margin-bottom:20px">
                    <f:facet name="header">
                        Insert CMIS Access Control Entry Types below
                    </f:facet>

                    <p:ajax event="rowEdit" update=":form:permissionMsgs"/>
                    <p:ajax event="rowEditCancel" update=":form:permissionMsgs"/>

                    <p:column headerText="principalId">
                        <p:cellEditor>
                            <f:facet name="output"><h:outputText value="#{permission.principal.principalId}"/></f:facet>
                            <f:facet name="input"><p:inputText value="#{permission.principal.principalId}"
                                                               style="width:100%"/></f:facet>
                        </p:cellEditor>
                    </p:column>

                    <p:column headerText="direct">
                        <p:cellEditor>
                            <f:facet name="output">
                                <p:selectBooleanCheckbox value="#{permission.direct}" disabled="true"/>
                            </f:facet>
                            <f:facet name="input">
                                <p:selectBooleanCheckbox value="#{permission.direct}" disabled="false"/>
                            </f:facet>
                        </p:cellEditor>
                    </p:column>

<!--                    <p:column headerText="permission">-->
<!--                        <p:cellEditor>-->
<!--                            <f:facet name="output">-->
<!--                                <p:outputLabel value="#{permission.permission}"/>-->
<!--                            </f:facet>-->
<!--                            <f:facet name="input">-->
<!--                                <p:inputTextarea value="#{permission.permission}" cols="50" style="width:100%"/>-->

<!--                            </f:facet>-->
<!--                        </p:cellEditor>-->
<!--                    </p:column>-->

                    <p:column style="width:32px">
                        <p:rowEditor/>
                    </p:column>
                </p:dataTable>
                <div class="ui-g">
                    <div class="ui-g-12">
                        <p:commandButton value="Add new" styleClass="ui-priority-primary" process="@this"
                                         update=":form:permissionMsgs"
                                         action="#{wsdlTest.onAddNewCmisAccessControlEntryTypes()}" oncomplete="PF('permission').addRow();"/>
                    </div>
                </div>
            </p:panel>

            <p:panel header="stream" style="width: 50%">
                <p:fileUpload fileUploadListener="#{wsdlTest.uploadDocument}" auto="false" update="result,console,fileNameWrapper"/>
                <p:outputPanel id="fileNameWrapper">
                    <p:outputLabel value="Uploaded file : #{wsdlTest.file.getFileName()}"/>
                </p:outputPanel>
            </p:panel>

            <p:commandButton process="@form" value="Submit" update="result,console" actionListener="#{wsdlTest.submitCreateDocument()}"/>
        </h:form>
    </p:panel>

    <h:form enctype="multipart/form-data" id="form2">
        <p:panel header="stream2" style="width: 50%">
            <p:fileUpload fileUploadListener="#{wsdlTest.uploadDocument}" auto="false" update="result,console,fileNameWrapper2"/>
            <p:outputPanel id="fileNameWrapper2">
                <p:outputLabel value="Uploaded file : #{wsdlTest.file.getFileName()}"/>
            </p:outputPanel>
        </p:panel>
    </h:form>

    <p:panel header="Result">
        <p:outputLabel id="result" value="#{wsdlTest.result}" escape="false"/>
    </p:panel>

    <p:panel header="Console output">
        <p:outputLabel id="console" value="#{wsdlTest.consoleOutput}" escape="false"/>
    </p:panel>
</h:body>
</html>
